*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.full-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px 0;
}

.left-div {
  float: left;
  transform: translateY(10%);
  width: 25%;
  text-align: center;
  
}
.right-div {
    float: right;
    width: 75%;
}

.joined-users{
    font-size: 20px;
    
}

.textbox-right{
    width: 75%;
    transform: translateX(17%);
}

.button-back {
    z-index: 1;
    position: absolute;
    transform: translate(0%, -0%);
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    text-decoration: none;
}


.main{
    border: 8px solid #deffdd;
    border-radius: 24px;
    overflow: hidden;
}

.message-container{
    display: flex;
    flex-direction: column;
    background-color: #fdfdfd;
    width: 100%;
    height: 71vh;
    overflow-y: scroll;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(127, 195, 126);
        border-radius: 6px;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }
}



.message-left, .message-right{
    list-style: none;
    padding: 8px 12px;
    margin: 12px;
    max-width: 400px;
    font-size: 18px;
    word-wrap: break-word;
}

.message-left{
    border-radius: 20px 20px 20px 0px;
    align-self: flex-start;
    background-color: #b4ffb2;
    box-shadow: -4px 4px 6px #dcdcdc;
}

.message-right{
    border-radius: 20px 20px 0px 20px;
    align-self: flex-end;
    background-color: #727272;
    box-shadow: 4px 4px 6px #dcdcdc;
    color: #f6f6f6;
}

.message{
    font-size: 20px;
}

.message-left > p > span {
    display: block;
    font-style: italic;
    font-size: 12px;
}

.message-left-span, .message-right-span {
    display: block;
    font-style: italic;
    font-size: 12px;
    margin-top: 4px;
}


.message-form{
    position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
    background-color: #fefee2;
    width: 100%;
}

.message-input{
    display: flex;
    margin: 5px;
    flex-grow: 1;
    height:48px;
    font-size: 16px;
    border: 1;
    outline: none;
    padding: 0 12px;
    background-color: #fff;
    width: 95%;
}

.message-input::placeholder {
    color: rgba(0,0,0,0.4);
}

.send-button{
   height: 48px;
   font-size: 16px;
   align-self: center;
   border: none;
   border-radius: 5px;
   padding: 0px 20px;
   outline: none; 
   background-color: #d6fad5;
   cursor: pointer;
}

.send-button:hover{
    background-color: #c1f8c3;
}

.clients-total {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    color: #777777;
}



@media (max-width: 768px) {
    .button-back {

        transform: translateY(150px);
        top: 20px;
    }


}